<section class="jogo"
  [ngClass]="{
    'timeout': timeout
  }">
  <section class="ladoB">
    <span class="tempoB">{{tempoAtualSegundosB | minuteSeconds}}</span>
  </section>
  <div *ngIf="!timeout" class="switch"
    [ngClass]="{
      'reverse': contandoAeNaoB
    }"
    (click)="trocarTimmer()">
    <mat-icon>change_circle</mat-icon>
  </div>
  <div *ngIf="timeout" class="goHome"
    (click)="goHome()">
    <mat-icon>home</mat-icon>
  </div>
  <section class="ladoA">
    <span class="tempoA">{{tempoAtualSegundosA | minuteSeconds}}</span>
  </section>
</section>

