<section class="configurar">

  <span>Quantos minutos cada jogador terá?</span>

  <input type="number" min="5" max="60" [(ngModel)]=tempoMaximoMinutos>

  <div class="play">
    <mat-icon (click)="confirmarTempo()">not_started</mat-icon>
  </div>

</section>

<section *ngIf="historicoPartidas.length > 0" class="historico">
  <span>Últimas partidas</span>
  <div *ngFor="let partida of historicoPartidas">
    <div (click)="selecionarTempoDoHistorico(partida.tempoMaximoMinutos)" class="partida-historico">{{partida.tempoMaximoMinutos}} minutos</div>
  </div>
</section>
